html {
  height: 100%;
  width: 100%;
}

.headfont {
    font-family: 'Architects Daughter', cursive, serif;
  font-size: 100px;
}

p {
  font-family: sans-serif, arial, helvetica;
  font-size: 20px;
}

 
/* general text alignment */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
header, footer {background-color: #240024;
       color: white;
       text-align: center;}
h1, h2{ font-size: 30px;

}

h2, p, ol {padding-left: 50px;
      padding-right: 50px}

li {margin-left: 20px;}

/* links section */
a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: red; }
a:active  { color: orange;  }
